.header-wrapper {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
}

.header-wrapper.transparent {
  mix-blend-mode: multiply;
  backdrop-filter: blur(0.875rem);
}

.navbar-custom {
  font-size: 20px;
  font-weight: 700;
  background: #cfb53b;
}

.navbar svg {
  color: white;
}

.nav-item a {
  color: white;
  font-weight: 500;
}

.nav-link-active {
  color: rgb(255, 255, 255);
  text-decoration: underline !important;
  text-underline-offset: 10px;
  font-weight: 900 !important;
}

.nav-item:hover a {
  color: white;
}

.line {
  margin: 2rem 2rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 320px) {
  .line {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .line {
    width: 90vw;
  }
}

@media (min-width: 320px) {
  .logo svg {
    margin: 2rem 6rem;
  }
}

@media (min-width: 768px) {
  .logo svg {
    margin: 2rem 20rem;
  }
}

@media (min-width: 992px) {
  .logo svg {
    margin: 2rem 25rem;
  }
}

@media (min-width: 1200px) {
  .logo svg {
    margin: 2rem;
  }
}

@media (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

.footer-logo svg {
  margin: 1rem;
  color: #ef6d58;
}

.footer-line {
  margin: 2rem 2rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 320px) {
  .footer-line {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .footer-line {
    width: 90vw;
  }
}

.copyright p {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(93, 38, 8, 0.5);
}

.copyright-text ul {
  margin-right: 50px;
  gap: 3rem;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover {
  text-decoration: underline;
}
