.header-wrapper{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.header-wrapper.transparent {
    mix-blend-mode: multiply;
    backdrop-filter: blur(0.875rem);
}

.navbar-custom{
    font-size: 20px;
    font-weight: 700;
    background: #cfb53b; 
}

.navbar svg{
    color: white;
}

.nav-item a{
    color: white;
    font-weight: 500;
}

.nav-link-active{
    color: rgb(255,255,255);
    text-decoration: underline !important;
    text-underline-offset: 10px;
    font-weight: 900 !important;
}

.nav-item:hover a{
    color: white;
}