@font-face {
    font-family:Epilogue-Black;
    src: url('../font/Epilogue-Black.ttf');
}

@font-face {
    font-family:Epilogue;
    src: url('../font/Epilogue-Regular.ttf');
}

@font-face {
    font-family: Epilogue-bold;
    src: url('../font/Epilogue-Bold.ttf');
}

@font-face {
    font-family: Ephesis;
    src: url('../font/Ephesis-Regular.ttf');
}

/* html{
    font-size: 16px;
}

@media (min-width: 576px) {
    html{
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
} 

@media (min-width: 992px) {
    html{
        font-size: 20px;
    }
}
*/

#intro{
    background:#f6f1db;
}

.heading{
    font-family: Epilogue;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(239, 109, 88);
}

@media (min-width: 576px) {
    .heading{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .heading{
        font-size: 2rem;
    }
}

.header-text h1{
    font-family: Epilogue;
    font-weight: 400;
    line-height: 1;
    color: rgb(57,20,0);
}

@media (min-width: 576px) {
    .header-text h1{
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .header-text h1{
        font-size: 5.5rem;
    }
}

@media (min-width: 576px) {
    .author-wrapper{
        width: 100%;
        min-height: 400px;
    }
}

@media (min-width: 768px) {
    .author-wrapper{
        width: 71%;
        min-height: 570px;
    }
}

.c-text{
    font-family: Epilogue-bold;
    text-decoration: underline;
    font-weight: 800;
    text-decoration-thickness: .30rem;
    text-underline-offset: .30rem;
}

.author{
    font-family: Epilogue;
    color: rgb(57,20,0);
}

@media (min-width: 576px) {
    .author{
        font-size: 1.2rem;
    }
}

.reflection-btn{
    text-align: center;
    background-color: #cfb53b;
    color: #fff;
    border-radius: .375rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Epilogue-Black;
    font-weight: 700;
    line-height: 1;
    width: 20.125rem;
    padding: .9375rem 1.25rem;
}

.reflection-btn:hover{
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.website-wrapper{
    padding: 2rem 1rem;
    background-color: #28293e;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}

.subtitle{
    color: rgb(239, 109, 88);
    font-family: Epilogue;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .subtitle{
        margin: 2rem 0;
        font-size: 2rem;
        font-weight: 600;
    }
}

.title{
    margin-bottom: 30px;
    color: #fff;
    font-family: Epilogue-bold;
    font-weight: 700;
}

@media (min-width: 576px) {
    .title{
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .title{
        font-size: 3rem;
    }
}

.section-body{
    font-family: Epilogue;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2;
}

.website_signature {
    margin: 40px;
    text-align: right;
    color: white;
    font-weight: bold;
    font-family: Ephesis;
    font-size: 2rem;
}

.journey-heading{
    padding: 5rem 0 0 2.3rem;
    text-transform: uppercase;
    font-family: Epilogue-bold;
    font-size: 3rem;
    color: #391400;
}

@media (min-width: 576px) {
    .journey-heading{
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .journey-heading{
        font-size: 3.5rem;
    }
}

.journey-para {
    padding: 2rem 0 0 2.3rem;
    font-family: Epilogue;
    font-weight: 400;
    color: #391400;
}

@media (min-width: 576px) {
    .journey-para{
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .journey-para{
        padding: 0rem 2rem;
        font-size: 1.5rem;
    }
}

.card-1,.card-3{
    padding: 25px;
    background-color: #f6f1db;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .card-1,.card-3{
        width: 30rem;
        height: auto;
    }
}

@media (min-width: 768px) {
    .card-1,.card-3{
        width: 43rem;
        height: auto;
    }
}

@media (min-width: 992px) {
    .card-1,.card-3{
        width: 33rem;
        height: auto;
    }
}

.card-2{
    padding: 25px;
    background-color: #eee;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .card-2{
        width: 30rem;
        height: auto;
    }
}

@media (min-width: 768px) {
    .card-2{
        width: 43rem;
        height: auto;
    }
}

@media (min-width: 992px) {
    .card-2{
        width: 33rem;
        height: auto;
    }
}

.inner{
    gap: 1.5rem;
}

.card-img-1{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .card-img-1{
        width: 27rem;
        height: 18rem;
    }
}

@media (min-width: 768px) {
    .card-img-1{
        width: 40rem;
        height: 18rem;
    }
}

@media (min-width: 992px) {
    .card-img-1{
        width: 30rem;
        height: 18rem;
    }
}

.zoom-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-img-1:hover .zoom-img{
    transform: scale(1.1);
}

.card-img-2{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .card-img-2{
        width: 27rem;
        height: 18rem;
    }
}

@media (min-width: 768px) {
    .card-img-2{
        width: 40rem;
        height: 18rem;
    }
}

@media (min-width: 992px) {
    .card-img-2{
        width: 30rem;
        height: 18rem;
    }
}

.card-img-2:hover .zoom-img{
    transform: scale(1.1);
}

.card-img-3{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .card-img-3{
        width: 27rem;
        height: 18rem;
    }
}

@media (min-width: 768px) {
    .card-img-3{
        width: 40rem;
        height: 18rem;
    }
}

@media (min-width: 992px) {
    .card-img-3{
        width: 30rem;
        height: 18rem;
    }
}

.card-img-3:hover .zoom-img{
    transform: scale(1.1);
}

.card-contect h5{
    padding: 1rem 2.2rem;
    color: #391400;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Epilogue;
    font-weight: 900;
}

.card-contect p{
    margin: 0rem;
    padding: 0.5rem 2.2rem;
    color: #391400;
    line-height: 2.5rem;
    font-size: 17px;
    font-family: Epilogue;
    font-weight: 500;
}

.card-contect p a{
    color: #391400;
}

.card-link a{
    margin: 0rem;
    padding:0.5rem 2rem;
    color: #391400;
    font-size: 18px;
    font-weight: 500;
}

.card-link a:hover{
    color: #391400;
}

.c-card{
    text-align: center;
    background-color: #eee;

}

.content-card{
    margin: 50px;
    background-color: #eee;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .content-card{
        width: 30rem;
        height: 22rem;
    }
}

@media (min-width: 768px) {
    .content-card{
        width: 42rem;
        height: 25rem;
    }
}

@media (min-width: 992px) {
    .content-card{
        width: 90%;
        height: 10%;
    }
}


@media (min-width: 576px) {
    .logo svg{
        margin: 2rem 14rem;
    }
}

@media (min-width: 768px) {
    .logo svg{
        margin: 2rem 20rem;
    }
}

@media (min-width: 768px) {
    .logo svg{
        margin: 2rem 20rem;
    }
}

@media (min-width: 992px) {
    .logo svg{
        margin: 2rem 25rem;
    }
}


.singup-para{
    margin: 30px;
    font-family: Epilogue;
    line-height: 2;
}

@media (min-width: 576px) {
    .singup-para{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .singup-para{
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .singup-para{
        font-size: 2rem;
    }
}

.signup-btn{
    margin: 2rem 2rem;
    font-size: 2rem;
    background-color: #e7c013;
    color: #eee;
    border: none;
    border-radius: 10px;
    font-weight: 800;
}

@media (min-width: 576px) {
    .signup-btn{
        margin: 0rem 2rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .signup-btn{
        margin: 0rem 2rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .signup-btn{
        margin: 2rem 2rem;
        font-size: 1.8rem;
    }
}

.signup-btn:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.content-text{
    margin: 1rem;
    color: rgb(57, 20, 0);
    font-family: Epilogue;
    font-weight: 400;
}

@media (min-width: 576px) {
    .content-text{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .content-text{
        padding: 0rem 1rem;
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .content-text{
        padding: 0rem 2rem;
        font-size: 2rem;
    }
}

.link{
    color: #be9d09;
}

.link:hover{
    color: #be9d09;
    text-decoration: none;
}

.line {
    border: 0.5px solid rgba(255, 100, 100,0.3);
    margin: 4rem 2rem;
    width: 90%;
}

.newsletter-heading h1{
    color:rgb(57, 20, 0);
    font-size: 50px;
    font-family: Epilogue-Black;
    font-weight: 700;
}

@media (min-width: 576px) {
    .newsletter-heading h1{
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .newsletter-heading h1{
        margin-bottom: 20px;
        text-align: center;
    }
}

input {
    border: 0.2px solid #ed3131;
    border-radius: 10px;
}

@media (min-width: 576px) {
    input{
        width: 50vw;
        height: 15vh;
        padding-left: 30px;
    }
}

@media (min-width: 768px) {
    input{
        width: 30vw;
        height: 15vh;
        padding-left: 50px;
    }
}

@media (min-width: 992px) {
    input{
        width: 25vw;
        height: 10vh;
        padding-left: 50px;
    }
}

.input-btn{
    gap: 30px;
}

.news-btn{
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
    .news-btn{
        width: 30vw;
        height: 15vh;
    }
}

@media (min-width: 768px) {
    .news-btn{
        width: 25vw;
        height: 15vh;
    }
}

@media (min-width: 992px) {
    .news-btn{
        width: 25vw;
        height: 10vh;
    }
}

.news-btn:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);   
}

.footer-logo svg{
    margin: 60px 0px;
    color: #ef6d58;
}

.main-link {
    color: #ef6d58;
    text-transform: uppercase;
    font-size: 25px;
}

.hidden{
    visibility: hidden;
}

.link a{
    text-decoration: none;
    line-height: 2.5;
    font-size: 20px;
}


.social-icons{
    color: #ef6d58;
    gap: 20px;
}

.footer-line{
    border: 0.6px solid rgba(255, 100, 100,0.3);
    margin: 2rem 1rem;
    width: 90%;
}

.copyright p{
    margin-left: 50px;
    font-size: 25px;
    color: rgba(93, 38, 8,0.5);
}

.copyright-text ul{
    margin-right: 50px;
    gap:3rem;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}

.copyright-text li:hover{
    text-decoration: underline;
}