@font-face {
  font-family: Epilogue;
  src: url("../font/Epilogue-Regular.ttf");
}

@font-face {
  font-family: Epilogue-bold;
  src: url("../font/Epilogue-Bold.ttf");
}

.reflection-heading {
  margin: 60px 0px 50px 0px;
  color: #391400;
  line-height: 1.11;
  font-size: 60px;
  font-weight: 900;
  font-family: Epilogue-bold;
}

.card-inner {
  margin: 50px;
  background-color: #f6f1db;
  border-radius: 20px;
  position: relative;
}

@media (min-width: 576px) {
  .card-inner {
    width: 30rem;
    height: auto;
  }
}

@media (min-width: 768px) {
  .card-inner {
    width: 85rem;
    height: 20rem;
  }
}

.card-content {
  max-width: 52%;
}

.content-text {
  padding: 80px 50px;
  color: #381400a3;
  font-size: 1.375rem;
  font-family: Epilogue;
}

.reflection-img {
  width: 40rem;
  height: auto;
  position: absolute;
  bottom: 70px;
  left: 680px;
  overflow: hidden;
  border-radius: 10px;
}

/* @media (min-width: 576px) {
  .reflection-img {
    width: 25rem;
    height: auto;
    position: absolute;
    top: 20px;
    left: 60px;
  }
} */

/* @media (min-width: 768px) {
  .reflection-img {
    width: 40rem;
    height: auto;
    position: absolute;
    bottom: 70px;
    left: 680px;
  }
} */

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.reflection-img:hover .zoom-img {
  transform: scale(1.1);
}

.container iframe {
  border-radius: 20px;
}

.giveup {
  font-size: 30px;
  font-weight: 600;
  font-family: Epilogue-bold;
}

.line {
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  margin: 40px 20px;
}

@media (min-width: 576px) {
  .line {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .line {
    width: 1450px;
  }
}

.author-img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.author-img:hover {
  transform: scale(1.1);
}

.text {
  font-size: 20px;
  font-family: Epilogue-bold;
  cursor: pointer;
}

.experience-heading {
  margin: 100px 50px 40px 50px;
  font-family: Epilogue-bold;
  font-weight: 900;
  font-size: 50px;
  color: #391400;
}

.experience-text {
  color: #391400;
  font-size: 25px;
  font-family: Epilogue;
}

.banner {
  margin: 4rem 10rem;
}

.banner_shadow {
  background-color: #f6f1db;
  border-radius: 1.375rem;
  width: 1200px;
  height: 600px;
}

.banner_background img {
  border-radius: 20px;
  width: 900px;
  height: 590px;
  position: relative;
  bottom: 685px;
  right: 30px;
  z-index: 1;
}

.banner_content img {
  background-color: #ed3131;
  width: 500px;
  height: 225px;
  position: relative;
  bottom: 100px;
  right: 30px;
  z-index: 5;
}

.upside-of-down {
  width: 334px;
  height: 334px;
}

ul.social {
  list-style: none;
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social svg {
  margin: 20px 10px 10px 20px;
  color: #000;
}

.upside-heading {
  margin: 100px 20px 0px 20px;
  color: #391400;
  font-size: 50px;
  font-weight: 800;
  font-family: Epilogue-bold;
}

.upside-para {
  margin: 10px 20px;
  color: #391400;
  font-size: 20px;
  font-family: Epilogue;
}

.avatar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.avater-text p {
  margin: 0px;
  font-size: 20px;
  color: #391400;
}

.action {
  margin: 50px 150px 0px 0px;
  padding: 15px 0px;
  background-color: #cfb53b;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}

.action:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.action-link {
  color: white;
  text-decoration: none;
  font-family: Epilogue-bold;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.action-link:hover {
  color: white;
}
.newsletter-heading h1 {
  color: rgb(57, 20, 0);
  font-size: 50px;
  font-family: Epilogue-Black;
  font-weight: 700;
}

@media (min-width: 576px) {
  .newsletter-heading h1 {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .newsletter-heading h1 {
    margin-bottom: 20px;
    text-align: center;
  }
}

input {
  border: 0.2px solid #ed3131;
  border-radius: 10px;
}

@media (min-width: 576px) {
  input {
    width: 50vw;
    height: 10vh;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  input {
    width: 25vw;
    height: 10vh;
    padding-left: 50px;
  }
}

.input-btn {
  gap: 30px;
}

.news-btn {
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  .news-btn {
    width: 20vw;
    height: 10vh;
  }
}

@media (min-width: 768px) {
  .news-btn {
    width: 15vw;
    height: 10vh;
  }
}

.news-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

svg {
  color: #ef6d58;
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 25px;
}

.hidden {
  visibility: hidden;
}

.link a {
  text-decoration: none;
  line-height: 2.5;
  font-size: 20px;
}

.link a:hover {
  text-decoration: underline;
}

.social-icons {
  color: #ef6d58;
  gap: 20px;
}

.footer-line {
  margin: 40px 20px;
  border: 0.6px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 576px) {
  .footer-line {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .footer-line {
    width: 1450px;
  }
}

.copyright p {
  margin-left: 50px;
  font-size: 25px;
  color: rgba(93, 38, 8, 0.5);
}

.copyright-text ul {
  margin-right: 50px;
  gap: 3rem;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover {
  text-decoration: underline;
}
