@font-face {
  font-family: Epilogue;
  src: url("../font/Epilogue-Regular.ttf");
}

@font-face {
  font-family: Epilogue-bold;
  src: url("../font/Epilogue-Bold.ttf");
}

.reflection-heading {
  color: #391400;
  line-height: 1.11;
  font-weight: 900;
  font-family: Epilogue-bold;
}

@media (min-width: 320px) {
  .reflection-heading {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .reflection-heading {
    font-size: 4.5rem;
  }
}

@media (min-width: 320px) {
  .reflection-heading-wrapper {
    padding: 2rem 0rem 5rem 1rem;
  }
}

@media (min-width: 768px) {
  .reflection-heading-wrapper {
    padding: 4rem 2rem;
  }
}

@media (min-width: 320px) {
  .card-wrapper {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .card-wrapper {
    padding: 1rem 5rem;
  }
}

.card-inner {
  background-color: #f6f1db;
  border-radius: 20px;
}

@media (min-width: 320px) {
  .card-inner {
    padding: 1rem;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .card-inner {
    padding: 5rem 4rem;
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .card-inner {
    flex-direction: column-reverse;
    padding: 5rem 4rem;
  }
}

@media (min-width: 1400px) {
  .card-inner {
    flex-direction: row;
    padding: 5rem 4rem;
  }
}

@media (min-width: 320px) {
  .card-content {
    max-width: 100%;
    padding: 2rem 0rem;
  }
}

@media (min-width: 768px) {
  .card-content {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .card-content {
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .card-content {
    max-width: calc(42.5% - 1rem);
  }
}

.content-text {
  color: #381400a3;
  font-size: 1.375rem;
  font-family: Epilogue;
}

.reflection-img {
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

@media (min-width: 320px) {
  .reflection-img {
    max-width: 100%;
    margin-top: calc(-2% - 5rem);
  }
}

@media (min-width: 768px) {
  .reflection-img {
    max-width: 100%;
    margin-top: calc(-10% - 5rem);
  }
}

@media (min-width: 992px) {
  .reflection-img {
    max-width: 100%;
    margin-top: calc(-10% - 5rem);
  }
}

@media (min-width: 1400px) {
  .reflection-img {
    max-width: 56%;
    margin-top: calc(-10% - 5rem);
  }
}

.zoom-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.reflection-img:hover .zoom-img {
  transform: scale(1.1);
}

.container iframe {
  width: min(100%, 50rem);
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.giveup {
  padding: 1rem;
  font-weight: 600;
  font-family: Epilogue-bold;
}

@media (min-width: 320px) {
  .giveup {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .giveup {
    padding-top: 2rem;
    font-size: 2rem;
  }
}

.line {
  margin: 2rem 2rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 320px) {
  .line {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .line {
    width: 90vw;
  }
}

.author-img-wrapper {
  position: relative;
  width: 95%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.author-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.author-img:hover {
  transform: scale(1.1);
}

.author-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 32, 0, 0.32);
  pointer-events: none;
  mix-blend-mode: color;
}

.title {
  font-family: Epilogue-bold;
  cursor: pointer;
}

@media (min-width: 320px) {
  .title {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

.experiences {
  padding: 5rem 2rem;
}

.exp-heading {
  padding-bottom: 1rem;
  font-weight: 700;
  color: rgb(57, 20, 0);
}

@media (min-width: 320px) {
  .exp-heading {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .exp-heading {
    font-size: 3.5rem;
  }
}

.exp-para {
  padding-bottom: 2rem;
  color: rgb(57, 20, 0);
}

@media(min-width :320px){
  .exp-para{
    font-size: 1.5rem;
  }
}

@media(min-width :768px){
  .exp-para{
    font-size: 1.8rem;
  }
}

.exp-body {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.shadow {
  width: 68rem;
  height: 42rem;
  background-color: #f6f1db;
  border-radius: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-container {
  margin: 0;
  width: 66rem;
  height: 41rem;
  overflow: hidden;
  border-radius: 1.5rem;
  position: relative;
}

.banner-img {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
}

.banner-content {
  position: absolute;
  z-index: 1;
}

.content-head-img {
  width: 25rem;
  height: 20rem;
  position: relative;
}

.content-img {
  width: 19.25rem;
  height: 16.44rem;
  position: absolute;
  top: 4rem;
  left: 6rem;
}

.content-body {
  color: #fff;
  margin: 4rem 6rem;
  font-size: 1.5rem;
}

.content-body a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.content-action {
  margin: 2rem 7rem;
  padding: 1rem;
  background-color: #e6c42f;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
}

.content-action:hover {
  background-color: #ef6d58;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.upside-of-down {
  width: 100%;
}

ul.social {
  list-style: none;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media(min-width :320px){
  .social{
    padding-top: 2rem;
    gap: 3rem;
  }
}

.social svg {
  color: #000;
}

.upside-heading {
  color: #391400;
  font-weight: 800;
  font-family: Epilogue-bold;
}

@media(min-width :320px){
  .upside-heading{
    padding: 2rem;
    font-size: 3rem;
  }
}

@media(min-width :768px){
  .upside-heading{
    padding: 1rem;
    font-size: 3rem;
  }
}

.upside-para {
  color: #391400;
  font-family: Epilogue;
}

@media(min-width :320px){
  .upside-para{
    text-align: center;
    font-size: 1.5rem;
  }
}

@media(min-width :768px){
  .upside-para{
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
}

.avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media(min-width :320px){
  .avatar{
    padding: 2rem;
  }
}

.avater-text p {
  margin: 0;
  font-size: 20px;
  color: #391400;
}

.action {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #cfb53b;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media(min-width :768px){
  .action{
    width: 20rem;
  }
}

.action:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.action-link {
  color: white;
  text-decoration: none;
  font-family: Epilogue-bold;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 320px) {
  .action-link {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .action-link {
    font-size: 1rem;
  }
}

.action-link:hover {
  color: white;
}

.newsletter{
  display: flex;
}

@media(min-width : 320px){
  .newsletter{
    flex-direction: column;
  }
}

.newsletter-heading h1 {
  color: rgb(57, 20, 0);
  font-family: Epilogue-Black;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (min-width :320px) {
  .newsletter-heading h1{
    text-align: center;
    font-size: 2rem;
  }
}

@media (min-width :768px) {
  .newsletter-heading h1{
    text-align: start;
    padding-left: 2rem;
    font-size: 2rem;
  }
}

.input-btn {
  gap: 30px;
}

@media(min-width : 320px){
  .input-btn{
    display: flex;
    flex-direction: column;
  }
}

@media(min-width : 768px){
  .input-btn{
    display: flex;
    flex-direction: row;
  }
}

input {
  border: 0.2px solid #ed3131;
  border-radius: 10px;
}

@media(min-width : 320px){
  input{
    width: 80vw;
    height: 20vw;
    padding-left: 1rem;
  }
}

@media(min-width : 768px){
  input{
    width: 70vw;
    height: 10vw;
  }
}

@media(min-width : 992px){
  input{
    width: 30vw;
    height: 5vw;
  }
}

.news-btn {
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media(min-width :320px){
  .news-btn{
    width: 80vw;
    height: 20vw;
  }
}

@media(min-width :768px){
  .news-btn{
    width: 70vw;
    height: 10vw;
  }
}

@media(min-width :992px){
  .news-btn{
    width: 30vw;
    height: 5vw;
  }
}

.news-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media(min-width : 320px){
  .footer{
    display: flex;
    flex-direction: column;
  }
}

.footer-logo svg {
  margin: 60px 0px;
  color: #ef6d58;
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 25px;
}

.hidden {
  visibility: hidden;
}

.link a {
  text-decoration: none;
  line-height: 2.5;
  font-size: 20px;
}

.social-icons {
  color: #ef6d58;
  gap: 20px;
}

.footer-line {
  margin: 2rem 2rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 320px) {
  .footer-line {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .footer-line {
    width: 90vw;
  }
}

.copyright p {
  margin-left: 50px;
  font-size: 25px;
  color: rgba(93, 38, 8, 0.5);
}

.copyright-text ul {
  margin-right: 50px;
  gap: 3rem;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover {
  text-decoration: underline;
}
