@font-face {
    font-family: Epilogue;
    src: url(../font/Epilogue-Regular.ttf);
}

@font-face {
    font-family: Epilogue-bold;
    src: url(../font/Epilogue-Bold.ttf);
}

.header-wrapper{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.navbar{
    font-size: 25px;
    font-weight: 700;
    background: #cfb53b; 
}

.navbar svg{
    color: white;
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
    text-decoration: underline;
}

.reflection-heading{
    color: #391400;
    line-height: 1.11;
    font-size: 52px;
    font-weight: 900;
    font-family: Epilogue;
}

.reflection-text{
    background-color: #f6f1db;
    border-radius: 20px;
    width: 1430px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.reflection-text p{
    color: #391400;
    font-size: 25px;
}

.reflection-img img{
    border-radius: 20px;
    width: 750px;
    height: 390px;
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 2;
}

.reflection-img img:hover{
    transform: scale(1.05);
}

.container iframe{
    border-radius: 20px;
}

.giveup{
    font-size: 30px;
    font-weight: 600;
    font-family: Epilogue-bold;
}

.line {
    border: 0.5px solid rgba(255, 100, 100,0.3);
    width: 1470px;
}

.author-img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.text{
    font-size: 25px;
    font-family: Epilogue-bold;
    cursor: pointer;
}

/* .signup-btn{
    background-color: #e7c013;
    color: #eee;
    border: none;
    margin: 30px 30px;
    font-size: 20px;
    font-weight: 800;
}

.signup-btn:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.link{
    color: #be9d09;
}

.link:hover{
    color: #e7c013;
    text-decoration: none;
}

.line {
    border: 0.5px solid rgba(255, 100, 100,0.3);
    margin: 40px 20px;
    width: 1475px;
}

.newsletter {
    display: flex;
    justify-content: space-around;
    margin: 35px 10px;
}

.input-btn{
    display: flex;
    gap: 30px;
}

.newsletter-heading h3{
    color: #000;
    font-size: 24px;
    font-family: Epilogue-Bold;
    font-weight: 700;
    position: relative;
    top: 8px;
    right: 150px;
}

input {
    display: block;
    width: 20vw;
    border: 0.2px solid #ed3131;
    border-radius: 10px;
    padding-left: 20px;
}

.news-btn{
    padding: 10px 80px;
    border-radius: 10px;
    background-color: white;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.news-btn:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);   
}

.footer {
    margin: 80px 30px;
    display: flex;
    justify-content: space-around;
}

svg{
    margin-top: 30px;
    color: #ef6d58;
}

.main-link {
    color: #ef6d58;
    text-transform: uppercase;
    font-size: 25px;
}

.hidden{
    visibility: hidden;
}

.link a{
    text-decoration: none;
    line-height: 2.5;
    font-size: 20px;
}

.link a:hover{
    text-decoration: underline;
}

.social-icons{
    color: #ef6d58;
    display: flex;
    gap: 20px;
}

.footer-line{
    margin-top: 50px 0px;
    border: 0.5px solid rgba(239, 109, 88,0.3);
    width: 1300px;
}

.footer-line{
    border: 0.6px solid rgba(255, 100, 100,0.3);
    width: 1460px;
    margin: 50px 50px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright p{
    margin: 0px 50px;
    font-size: 22px;
    color: rgba(93, 38, 8,0.5);
}

.copyright-text ul{
    margin-right: 80px;
    display: flex;
    align-items: center;
    gap:3rem;
    list-style: none;
    cursor: pointer;
} */