@font-face {
  font-family: Epilogue;
  src: url(../font/Epilogue-Regular.ttf);
}

@font-face {
  font-family: Epilogue-bold;
  src: url(../font/Epilogue-Bold.ttf);
}

#intro {
  background: #f6f1db;
}

.img {
  width: 745px;
}

.research-background-img {
  background-image: url(../Img/research-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}

.heading {
  padding-top: 220px;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
}

.header-text p {
  font-size: 30px;
  text-align: center;
  color: white;
}

.practices-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 50px;
}

.practices-para {
  color: #391400;
  font-family: Epilogue;
  font-size: 20px;
}

.line {
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  margin: 40px 20px;
  width: 1475px;
}

.contact-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 50px;
}

.typeform {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.participate-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 50px;
}

.participate-body {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 30px;
}

.participate-body h3 {
  margin-top: 50px;
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 30px;
}

.line {
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  margin: 40px 20px;
  width: 1475px;
}

.input-btn {
  gap: 30px;
}

.newsletter-heading h3 {
  color: #000;
  font-size: 24px;
  font-family: Epilogue-Bold;
  font-weight: 700;
  position: relative;
  top: 8px;
  right: 150px;
}

input {
  width: 20vw;
  border: 0.2px solid #ed3131;
  border-radius: 10px;
}

.news-btn {
  border-radius: 10px;
  background-color: white;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.news-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

svg {
  color: #ef6d58;
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 25px;
}

.hidden {
  visibility: hidden;
}

.link a {
  text-decoration: none;
  line-height: 2.5;
  font-size: 20px;
}

.link a:hover {
  text-decoration: underline;
}

.social-icons {
  color: #ef6d58;
  gap: 20px;
}

.footer-line {
  border: 0.6px solid rgba(255, 100, 100, 0.3);
  width: 1460px;
}

.copyright p {
  font-size: 22px;
  color: rgba(93, 38, 8, 0.5);
}

.copyright-text ul {
  margin-right: 50px;
  gap: 3rem;
  font-size: 20px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover {
  text-decoration: underline;
}
