@font-face {
  font-family:Epilogue-black;
  src: url('../font/Epilogue-Black.ttf');
}

@font-face {
  font-family: Epilogue;
  src: url('../font/Epilogue-Regular.ttf');
}

@font-face {
  font-family: Epilogue-bold;
  src: url('../font/Epilogue-Bold.ttf');
}

#intro {
  background: #f6f1db;
}

.img {
  width: 745px;
}

.research-background-img {
  background-image: url(../Img/research-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 33rem;
}

.content{
  color: #fff;
  text-align: center;
}

.content-heading{
  padding-top: 190px;
  font-family: Epilogue-black;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 800;
}

.content-para{
  padding: 20px;
  font-family: Epilogue;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.practices-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.14;
}

.practices-para {
  color: #391400;
  font-family: Epilogue;
  font-size: 18px;
}

.line {
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  margin: 40px 20px;
  width: 1475px;
}

.contact-heading {
  margin-top: 50px;
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 40px;
}

.typeform {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.participate-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 50px;
}

.participate-body {
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 30px;
}

.participate-body h3 {
  margin-top: 50px;
  color: #391400;
  font-family: Epilogue-bold;
  font-size: 30px;
}

.line {
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  margin: 40px 20px;
  width: 90%;
}

.newsletter-heading h1{
  color:rgb(57, 20, 0);
  font-size: 50px;
  font-family: Epilogue-Black;
  font-weight: 700;
}

@media (min-width: 576px) {
  .newsletter-heading h1{
      margin-bottom: 20px;
      text-align: center;
  }
}

@media (min-width: 768px) {
  .newsletter-heading h1{
      margin-bottom: 20px;
      text-align: center;
  }
}

input {
  border: 0.2px solid #ed3131;
  border-radius: 10px;
}

@media (min-width: 576px) {
  input{
      width: 50vw;
      height: 15vh;
      padding-left: 30px;
    }
}

@media (min-width: 768px) {
  input{
      width: 40vw;
      height: 15vh;
      padding-left: 50px;
  }
}

@media (min-width: 992px) {
  input{
      width: 40vw;
      height: 15vh;
      padding-left: 50px;
  }
}

@media (min-width: 992px) {
  input{
      width: 20vw;
      height: 10vh;
      padding-left: 50px;
  }
}

.input-btn{
  gap: 30px;
}

.news-btn{
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  .news-btn{
      width: 30vw;
      height: 15vh;
  }
}

@media (min-width: 768px) {
  .news-btn{
      width: 35vw;
      height: 15vh;
  }
}

@media (min-width: 992px) {
  .news-btn{
      width: 20vw;
      height: 10vh;
  }
}


.news-btn:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);   
}

.footer-logo svg{
  margin: 60px 0px;
  color: #ef6d58;
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 25px;
}

.hidden{
  visibility: hidden;
}

.link a{
  text-decoration: none;
  line-height: 2.5;
  font-size: 20px;
}


.social-icons{
  color: #ef6d58;
  gap: 20px;
}

.footer-line{
  margin: 40px 30px;
  border: 0.6px solid rgba(255, 100, 100,0.3);
  width: 90%;
}

.copyright p{
  margin-left: 50px;
  font-size: 25px;
  color: rgba(93, 38, 8,0.5);
}

.copyright-text ul{
  margin-right: 50px;
  gap:3rem;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover{
  text-decoration: underline;
}