@font-face {
  font-family: Epilogue-Black;
  src: url('../font/Epilogue-Black.ttf');
}

@font-face {
  font-family: Epilogue;
  src: url('../font/Epilogue-Regular.ttf');
}

@font-face {
  font-family: Epilogue-bold;
  src: url('../font/Epilogue-Bold.ttf');
}

.intro-background-img {
  background-image: url(../Img/resources-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  .intro-background-img {
    height: 20rem;
  }
}

@media (min-width: 992px) {
  .intro-background-img {
    height: 40.62rem;
  }
}

.intro-heading {
  font-family: Epilogue-Black;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 576px) {
  .intro-heading {
    padding: 4rem 0rem 2rem 0rem;
    font-size: 3rem;
  }
}

.intro-para{
  font-family: Epilogue;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

@media(min-width:576px){
  .intro-para{
    font-size: 1.25rem;
  }
}

.resources-heading {
  font-family: Epilogue-bold;
  color: #391400;
  text-align: center;
}

@media(min-width:576px){
  .resources-heading{
    margin: 2rem 0rem 0rem;
    font-size: 2.5rem;
  }
}

.resources-para {
  margin: 3rem 0rem 0rem;
  font-family: Epilogue;
  color: #633822;
  text-align: center;
}

@media(min-width:576px){
  .resources-para{
    font-size: 1.25rem;
  }
}

.main-container {
  padding: 0rem 1.87rem;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: auto;
  padding-top: 7.5rem;
}

@media (max-width: 576px) {
  .section-container {
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 768px) {
  .section-container {
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 992px) {
  .section-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
  }
}

.picture-container {
  position: relative;
  aspect-ratio: 2/1;
  padding-top: 17rem;
  padding-left: 6rem;
}

@media (max-width: 576px) {
  .picture-container {
    padding-top: 15rem;
    padding-left: 2rem;
  }
}

.picture-shadow {
  width: 30rem;
  height: 20rem;
  background-color: #f6f1db;
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 13rem;
  left: 0rem;
}

@media (max-width: 576px) {
  .picture-shadow {
    width: 11.46rem;
    height: 7.07rem;
  }
}

@media (min-width: 576px) {
  .picture-shadow {
    width: 21.96rem;
    height: 13.54rem;
  }
}

.picture-inner {
  overflow: hidden;
  border-radius: 0.375rem;
  width: 39rem;
  aspect-ratio: 2/1;
}

@media (max-width: 576px) {
  .picture-inner {
    width: 15rem;
  }
}

@media (min-width: 576px) {
  .picture-inner {
    width: 27rem;
  }
}

.picture-object {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 20.5%;
  padding-right: 2.5rem;
}

@media (max-width: 576px) {
  .content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.content-heading h1 {
  font-family: Epilogue;
  font-weight: 700;
  color: #391400;
  padding-bottom: 2rem;
}

@media (max-width: 576px) {
  .content-heading h1 {
    font-size: 3.5rem;
  }
}

.content-body {
  font-family: Epilogue;
  font-size: 1.25rem;
  line-height: 2rem;
  padding-bottom: 5rem;
  color: #391400a3;
}

.content-btn {
  padding: 0.93rem 1.25rem;
  text-align: center;
  background-color: #cfb53b;
  color: #fff;
  border-radius: 0.375rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  min-width: 17.5rem;
  display: inline-block;
  font-weight: 700;
  font-family: Epilogue;
}

@media (max-width: 576px) {
  .content-btn {
    min-width: auto;
  }
}

.content-btn:hover {
  box-shadow: 0rem 0.5rem 1rem hsl(21, 100%, 11%);
}

.ethical-shadow {
  width: 35rem;
  height: 20rem;
  background-color: rgba(132, 179, 177, 0.2);
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 0rem;
}

@media (max-width: 576px) {
  .ethical-shadow {
    width: 11.46rem;
    height: 7.07rem;
    top: 13rem;
  }
}

@media (min-width: 576px) {
  .ethical-shadow {
    width: 25rem;
    height: 15rem;
    top: 15rem;
  }
}

.content-ethical-action {
  padding-top: 8rem;
}

@media (max-width: 576px) {
  .content-ethical-action {
    padding-top: 0rem;
  }
}

@media (min-width: 576px) {
  .content-ethical-action {
    padding-top: 0rem;
  }
}

.box-container {
  position: relative;
  aspect-ratio: 2/1;
  padding-top: 8rem;
  padding-left: 5rem;
}


@media(max-width:576px){
  .box-container{
    padding-top: 8rem;
    padding-left: 1rem;
  }
}

.box-shadow {
  width: 65%;
  aspect-ratio: 3/1.85;
  background-color: #f6f1db;
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: 0rem;
}


@media (max-width: 576px) {
  .box-shadow {
    width: 11.46rem;
  }
}

@media (min-width: 576px) {
  .box-shadow {
    width: 65%;
  }
}

.box-inner {
  overflow: hidden;
  border-radius: 0.375rem;
  width: 15rem;
  height: 22rem;
}

@media(max-width:576px){
  .box-inner{
    width: 15rem;
    height: 21.82rem;
  }
}

.line {
  margin: 2rem 0rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
  width: 90%;
}

.newsletter-heading h1{
  color:rgb(57, 20, 0);
  font-family: Epilogue-Black;
  font-weight: 700;
}

@media (min-width: 576px) {
  .newsletter-heading h1{
      margin: 2rem 0rem;
      font-size: 3rem;
      text-align: center;
  }
}

@media (min-width: 768px) {
  .newsletter-heading h1{
      margin-bottom: 20px;
      text-align: center;
  }
}

input {
  border: 0.2px solid #ed3131;
  border-radius: 10px;
}

@media (min-width: 576px) {
  input{
      width: 50vw;
      height: 15vh;
      padding-left: 30px;
    }
}

@media (min-width: 768px) {
  input{
      width: 40vw;
      height: 15vh;
      padding-left: 50px;
  }
}

@media (min-width: 992px) {
  input{
      width: 40vw;
      height: 15vh;
      padding-left: 50px;
  }
}

@media (min-width: 992px) {
  input{
      width: 20vw;
      height: 10vh;
      padding-left: 50px;
  }
}

.input-btn{
  gap: 30px;
}

.news-btn{
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  .news-btn{
      width: 30vw;
      height: 15vh;
  }
}

@media (min-width: 768px) {
  .news-btn{
      width: 35vw;
      height: 15vh;
  }
}

@media (min-width: 992px) {
  .news-btn{
      width: 20vw;
      height: 10vh;
  }
}


.news-btn:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);   
}

.footer-logo svg{
  margin: 60px 0px;
  color: #ef6d58;
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 25px;
}

.hidden{
  visibility: hidden;
}

.link a{
  text-decoration: none;
  line-height: 2.5;
  font-size: 20px;
}


.social-icons{
  color: #ef6d58;
  gap: 20px;
}

.footer-line{
  margin: 40px 30px;
  border: 0.6px solid rgba(255, 100, 100,0.3);
  width: 90%;
}

.copyright p{
  margin-left: 50px;
  font-size: 25px;
  color: rgba(93, 38, 8,0.5);
}

.copyright-text ul{
  margin-right: 50px;
  gap:3rem;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.copyright-text li:hover{
  text-decoration: underline;
}