@font-face {
    font-family: Ephesis;
    src: url(../font/Ephesis-Regular.ttf);
}
  
@font-face {
    font-family: Epilogue-bold;
    src: url(../font/Epilogue-Bold.ttf);
}

.header-wrapper{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.navbar{
    font-size: 25px;
    font-weight: 700;
    background: #cfb53b; 
}

.navbar svg{
    color: white;
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
    text-decoration: underline;
}

#intro{
    background:#f6f1db;
}

.img{
    width: 745px;
}

.heading{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
}

.author{
    font-size: 20px;
}

.reflection-btn{
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background: #cfb53b;
}

#website{
    background-color: #28293e;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}

.website_subheading {
    color: #ef6d58;
    font-weight: 700;
    font-size: 25px;
    padding: 40px 10px 0px 40px;
    text-transform: uppercase;
}

.website_heading {
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding: 10px 10px 10px 30px;
}
.website_contect {
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding: 10px 10px 10px 30px;
}
.website_signature {
    text-align: right;
    color: white;
    font-weight: bold;
    font-family: Ephesis;
    font-size: 40px;
    padding: 10px 60px 30px 30px;
}

h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    color: #391400;
    padding: 2rem 0 0 3.3rem;
}

p{
    font-size: 28px;
    font-weight: 400;
    color: #391400;
    padding: 1rem 0 1rem 3.3rem;
}

.card-1,.card-3{
    background-color: #f6f1db;
    width: 30rem;
    height: auto;
}

.card-2{
    background-color: #eee;
    width: 30rem;
    height: auto;
}

.inner{
    gap: 1.5rem;
}

.card-img-1 img{
    width: 25rem;
    height: 15rem;
    border-radius: 20px;
}

.card-img-1 img{
    width: 27rem;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-1 img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card-img-2 img{
    width: 25rem;
    height: 17rem;
    border-radius: 20px;
}

.card-img-2 img{
    width: 27rem;
    height: 18rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-2 img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card-img-3 img{
    width: 25rem;
    height: 15rem;
    border-radius: 20px;
}

.card-img-3 img{
    width: 27rem;
    height: 18rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-3 img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card-contect h5{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 1.25rem 2.2rem;
}

.card-contect p{
    line-height: 2rem;
    font-size: 15px;
    font-weight: 500;
    padding: 0 1.5rem 0 2.2rem;
}

.card-link{
    font-size: 15px;
    font-weight: 500;
    padding: 0 1.5rem 1.5rem 2.2rem;
}

.content-card{
    background:#eee;
    width: 1480px;
    height: 115px;
}

.logo svg{
    margin: 20px 10px 10px 100px;
}

.signup-btn{
    background-color: #e7c013;
    color: #eee;
    border: none;
    margin: 30px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
}

.signup-btn:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.content-text{
    font-size: 22px;
    line-height: 2;
}

.link{
    color: #be9d09;
}

.link:hover{
    color: #e7c013;
    text-decoration: none;
}

.line {
    border: 0.5px solid rgba(255, 100, 100,0.3);
    margin: 40px 20px;
    width: 1475px;
}

.input-btn{
    gap: 30px;
}

.newsletter-heading h3{
    color: #000;
    font-size: 24px;
    font-family: Epilogue-Bold;
    font-weight: 700;
    position: relative;
    top: 8px;
    right: 150px;
}

input {
    width: 20vw;
    border: 0.2px solid #ed3131;
    border-radius: 10px;
}

.news-btn{
    border-radius: 10px;
    background-color: white;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.news-btn:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);   
}

svg{
    color: #ef6d58;
}

.main-link {
    color: #ef6d58;
    text-transform: uppercase;
    font-size: 25px;
}

.hidden{
    visibility: hidden;
}

.link a{
    text-decoration: none;
    line-height: 2.5;
    font-size: 20px;
}

.link a:hover{
    text-decoration: underline;
}

.social-icons{
    color: #ef6d58;
    gap: 20px;
}

.footer-line{
    border: 0.6px solid rgba(255, 100, 100,0.3);
    width: 1460px;
}

.copyright p{
    font-size: 22px;
    color: rgba(93, 38, 8,0.5);
}

.copyright-text ul{
    margin-right: 50px;
    gap:3rem;
    list-style: none;
    cursor: pointer;
}